.search-bar {
  margin-bottom: 20px;
  width: 100%;
  max-width: 500px;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;

  .search-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    input {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      flex: 1;
      margin-right: 10px;
    }

    button {
      padding: 10px 20px;
      border: none;
      background-color: #007bff;
      color: white;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  .dropdown-label {
    display: block;
    margin-top: 10px;
    color: white;

    select {
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  }
}
